html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
h2 {
  text-align: center;
}
.form-container {
  flex: 1 0 auto;
  width: 100%;
}

.toolbar-container {
  flex: 0 0 auto;
  height: 120px;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  background-color: #f2f2f2;
}

.rectangle {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
